body {
	display: flex;
	justify-content:center;
	align-items: center;
	height:100vh;
}
form {
	width: 500px;
	padding: 40px;
    border: 5px;
	border-radius: 10px;
	box-shadow: 0 4px 16px #ccc;
	font-family: inherit;
	letter-spacing: 1px;
}
.form_title {
	font-family: monospace;
	letter-spacing: 1px;
	text-align: center;
	margin: 0 0 32px 0;
	color: #2F4F4F
}	
.btn {
	padding: 15px 25px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color:#20B2AA;
}
.form_group {
	position: relative;
	margin-bottom: 32px;
	font-family: inherit;
	border: none;
}
.form_group input {
	width: 100%;
	border: none;
	background-color: #F0FFFF;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
}
.datetime {
	font-family: monospace;
	letter-spacing: 3px;
	text-align: right;
	color: #2F4F4F
}